<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" charset="866"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="launcher.Launcher" level="warn" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Logger name = "actors.Client" level="info" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Logger name = "actors.Manager" level="info" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Logger name = "java/actors.Director" level="info" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>